body {
	width: 100vw;
	overflow-x: hidden;
}

b {
	font-weight: bolder;
}

.clear {
	clear: both;
}

a.nodec {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

.section {
	padding: 20px 0 50px 0;
}

.section-title-img-div {
	width: 25%;
	margin: 0 auto;	
	padding-bottom: 10px;
}

.section-title-img {
	width: 100%;
}

.section-text-container {
	font-size: 24px;
	font-family: "Roboto Condensed";
}

h2.section-text {
	font-size: 32px;
	font-weight: bolder;
	line-height: 50px;
}

p.section-text {
	margin-bottom: 15px;
	line-height: 28px;
}

li.section-text {
	margin-bottom: 10px;
	margin-left: 15px;
	line-height: 30px;
	list-style-image: url("../img/dash.png");
}

#welcome-banner {
	width: 100%;
	overflow-y: hidden;
	padding-bottom: 0;
}

#welcome-bg {
	width: 100%;
}

#reg {
	width: 100%;
	background: rgba(255,255,255,1.0);
	background-size: cover;
	padding-bottom: 100px;
}

#form-div {
	width: 100%;
	margin: 0 auto 15px;
	height: 700px;
}

#form-iframe {
	width: 100%;
	height: 100%;
}

#reg-title-img-div {
	width: 45%;
}

#reg-content {
	width: 50%;
	margin: -30px auto 0;
}

#reg-text {
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}

#gonzo-content {
	width: 50%;
	margin: 100px auto 0;
}

#about {
	width: 100%;
	background: url("../img/about-bg.jpg");
	background-size: length;
	color: black;
}

#about-content {
	width: 50%;
	margin: 0 auto;
}

.inline-img {
	width: 30%;
	margin: 10px 20px 10px 0;
	border-radius: 50%;
}

#gonzo-logo {
	float: right;
}

#germany-logo {
	float: left;
}

#brazil-logo {
	float: right;
	margin-left: 10px;
}

#team {
	width: 100%;
	background: url("../img/team-bg.jpg");
	background-size: cover;
}

.pic-name {
	margin-top: 10px;
	font-family: "Roboto Condensed";
	font-weight: bold;
}

#team-members {
	width: 70%;
	margin: 0 auto;
	text-align: center;

}

.team-pic-div {
	margin-top: 25px;
	float: left;
	width: 16.6666667%;
}

.team-pic-img {
	border-radius: 50%;
	border: 2px solid lightgray;
	width: 75%;
}

@media all and (max-width: 1280px) {
	#reg-content {
		width: 80%;
		font-size: 20px;
	}

	#about-content {
		width: 80%;
		font-size: 20px;
	}

	#gonzo-content {
		width: 80%;
		font-size: 20px;
	}

	#team-members {
		width: 80%;
	}

	.team-pic-div {
		width: 24%;
	}

}

@media all and (max-width: 800px) {
	.team-pic-div {
		width: 33%;
	}
}